# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
Debug/
Release/
x64/
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.lib
*.obj
*.log

# Intermediate files
*.ipch
*.VC.db
*.opendb
*.cache

# Others
*.swp
*.sdf
